{% extends "interface/base.html" %}
{% load static %}
{% block content %}

<div class="login-container">
    <div class="overlay"></div>
 		<div class="login">
    	<div class="card account">
        <h5 class="heading">&#128512; Happy to see you again!</h5>
        <p></p>
        <div class="form">
					<label for="exampleFormControlInput1">To continiue please log in to mutware tv</label>
	             
					<div class="form-group">
					    <input type="text" class="form-control" placeholder="Phone / Email">
					</div>
					<div class="form-group">
					    <input type="password" class="form-control" placeholder="Password">
					</div>
        </div>
        <p class="text-center">
            <br><button type="submit" class="btn btn-primary" style="background-color: #ffffff; color: #12cca8;">Login</button>
        </p>
        <div class="form-check mb-2">
          <label class="form-check-label" for="autoSizingCheck">
            Forgot Password? <a href="forgot-password.html"><b>Click Here</b></a>
          </label>
        </div>
    	</div>
		</div>
	</div>
{% endblock %}


