{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUTWARE KID</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'frontend/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css'%}">
    <!-- <link rel="stylesheet" type="text/css" href="css/owl.carousel.min"> -->
</head>

<body>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
          <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'frontend/img/logo.png'%}" style="height: 50px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <span style="margin: 0 30px;"></span>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input class="form-control mr-sm-2" type="search" placeholder="Search ...." aria-label="Search" style="width: 50%; background-color: #fef2f2;">
            <span style="margin: 0 40px;"></span>
            <form class="form-inline my-2 my-lg-0">
              <a href="{% url 'register' %}" class="btn register-button my-2 my-sm-0" type="submit">Register</a>
              <span style="margin: 0 20px;"></span>
              <a href="{% url 'login' %}" class="btn login-button my-2 my-sm-0" type="submit";>Sign In</a>
            </form>
          </div>
        </nav>
    </header>
    {% block content %}
    
    
    
    
    {% endblock %}
    <!-- Footer -->
    <footer>
        <div class="bg-white text-black text-center py-3">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <a class="navbar-brand" href="#">Mutware Kid Logo</a><br><br>
                        <a href="#">
                            <img src="img/google-play-badge.svg">
                        </a><br>
                        <a href="#">
                            <img src="img/applestore.svg" class="applestore-img">
                        </a>
                    </div>
                    <div class="col">
                        <h2>restrict Every Where On Any Device</h2>
                        <p>Get MUTWARE KID TV on your device downoald the App and start restricting for <b>FREE</b> TO DAY</p>
                    </div>
                    <div class="col">
                        <a href="stream.html">
                            <img src="img/live-stream.png" class="live-streaming-img">
                        </a>
                        <h2>Join Our <b>Live</b> session here</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-pink text-black text-center py-3">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <img src="img/mutwarekid.png" style="height: 270px;">
                        </a>
                    </div>
                    <div class="col">
                        <h2>Our Office</h2>
                        <p><i class="fas fa-home me-3 text-secondary"></i> KG 622 St, Kigali</p>
                        <p><i class="fas fa-home me-3 text-secondary"></i> RN1, Butare, RW</p>
                        <p><i class="fas fa-location me-3 text-secondary"></i> Kigali & Huye</p>
                    </div>
                    <div class="col">
                        <h2>SOCIAL MEDIA</h2>
                        <h5>Mutware Educate</h5>
                        <!-- Twitter -->
                        <img src="logo/Twitter.webp" alt="Twitter Logo" style="width: 12%;">
                        
                        <!-- Instagram -->
                        <img src="logo/instagram.png" alt="Instagram Logo" style="width: 12%;">
                        
                        <img src="logo/facebook.png" alt="Instagram Logo" style="width: 12%;"><br>
                        
                        <img src="logo/youtube.png" alt="Instagram Logo" style="width: 44%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-green text-white text-center py-3">
            <p>&copy;  2023 Mutware Kid. All rights reserved.</p>
        </div>
 </footer>
    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="
    sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  
    <script>
        var carouselWidth = $(".carousel-inner")[0].scrollWidth;
        var cardWidth = $(".carousel-item").width();
        var scrollPosition = 0;
        $(".carousel-control-next").on("click", function () {
          if (scrollPosition < (carouselWidth - cardWidth * 4)) { //check if you can go any further
            scrollPosition += cardWidth;  //update scroll position
            $(".carousel-inner").animate({ scrollLeft: scrollPosition },600); //scroll left
          }
        });
        $(".carousel-control-prev").on("click", function () {   
          if (scrollPosition > 0) {
            scrollPosition -= cardWidth;
            $(".carousel-inner").animate(
              { scrollLeft: scrollPosition },
              600
            );
          }
        });
        var multipleCardCarousel = document.querySelector(
          "#carouselExampleControls"
        );
        if (window.matchMedia("(min-width: 768px)").matches) {
          //rest of the code
          var carousel = new bootstrap.Carousel(multipleCardCarousel, {
            interval: false
          });
        } else {
          $(multipleCardCarousel).addClass("slide");
        }
    </script>
</body>