
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<div class="page-title">
								All Videos
							</div>
						</div>
						<div class="col-sm-6 text-sm-right">
							<div class=" mt-sm-0 mt-2">
								<button class="btn btn-outline-primary mr-2">
									<a href="{% url 'video-create' %}"><span>Add Video</span></a>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table custom-table">
							<thead class="thead-light">
								<tr>									
									<th>Video Id</th>
									<th>Title</th>
									<th>Total views</th>
									<th>Upload_date</th>
									<th>Video Category</th>
									<th>Uploaded by</th>

									<th class="text-right">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for video  in videos %}
								<tr>
									<td>{{ video.id }}</td>
									<td>{{ video.title }}</td>
									<td>{{ video.view_count}}</td>
									<td>{{ video.upload_date }}</td>
									<td>{{ video.category}}</td>
									<td>Admin</td>
									<td class="text-right">
										<a href="{% url 'edit_video' video.id %}" class="btn btn-primary btn-sm mb-1">
											<i class="far fa-edit"></i>
										</a>
										<a href="{% url 'edit_user' user.id %}"> 
										  <button type="submit" data-toggle="modal" data-target="#delete_employee" class="btn btn-danger btn-sm mb-1">
											<i class="far fa-trash-alt"></i>
										   </button>
									    </a>
									</td>
								</tr>
								{% endfor %}
								<!-- Repeat this structure for other student entries -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}